
.App-header {
  background-color: #222;
  height: 35px;
  margin: -10px;
  color: white;
  width: 100%;
  padding: 4px;
}

.App-title {
  font-size: 1.5em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: -10px;
  margin-bottom: 10px;
}

.four-up {
  display: flex;
}

.four-up>div {
  padding: 20px;
}

.four-up>div>div {
  padding-bottom: 6px;
}
 
.box {
  width: 500px;
  height: 312px;
  border: 1px solid;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
}